body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1560px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:54px;
  width:65px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:54px;
  width:65px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2268px;
  height:2px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:-609px;
  top:1165px;
  width:2267px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2268px;
  height:2px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:-151px;
  top:1165px;
  width:2267px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:1158px;
  top:54px;
  width:65px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1546px;
  height:2px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:145px;
  width:1545px;
  height:1px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2155px;
  height:2px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:1222px;
  width:2154px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 144, 152, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:203px;
  width:169px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:165px;
  word-wrap:break-word;
}
#u206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 144, 152, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:297px;
  width:169px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:165px;
  word-wrap:break-word;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:250px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u207_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u207_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:26px;
  width:516px;
  height:8px;
}
#u207_seg2 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:26px;
  width:8px;
  height:21px;
}
#u207_seg3 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:33px;
  width:20px;
  height:21px;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:198px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 144, 152, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:1128px;
  top:542px;
  width:169px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:165px;
  word-wrap:break-word;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:449px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u209_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u209_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:55px;
  width:452px;
  height:8px;
}
#u209_seg2 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:55px;
  width:8px;
  height:38px;
}
#u209_seg3 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:79px;
  width:20px;
  height:21px;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:160px;
  top:51px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 144, 152, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:402px;
  width:169px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:165px;
  word-wrap:break-word;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:344px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u211_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u211_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:44px;
  width:20px;
  height:21px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 144, 152, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:528px;
  width:169px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:165px;
  word-wrap:break-word;
}
#u213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 144, 152, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:1128px;
  top:636px;
  width:169px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:165px;
  word-wrap:break-word;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:250px;
  width:0px;
  height:0px;
}
#u214_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:282px;
}
#u214_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:264px;
  width:20px;
  height:21px;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:131px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 144, 152, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:905px;
  width:169px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:165px;
  word-wrap:break-word;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:740px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u216_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:169px;
}
#u216_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:151px;
  width:20px;
  height:21px;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:74px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:1213px;
  top:589px;
  width:0px;
  height:0px;
}
#u217_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u217_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:21px;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 144, 152, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:1227px;
  width:169px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:165px;
  word-wrap:break-word;
}
#u219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 144, 152, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:726px;
  width:169px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:165px;
  word-wrap:break-word;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:773px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u220_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:4px;
  height:8px;
}
#u220_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:78px;
}
#u220_seg2 {
  border-width:0px;
  position:absolute;
  left:-512px;
  top:66px;
  width:516px;
  height:8px;
}
#u220_seg3 {
  border-width:0px;
  position:absolute;
  left:-512px;
  top:66px;
  width:8px;
  height:66px;
}
#u220_seg4 {
  border-width:0px;
  position:absolute;
  left:-518px;
  top:118px;
  width:20px;
  height:21px;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:-300px;
  top:62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 144, 152, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:1050px;
  width:169px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:165px;
  word-wrap:break-word;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:952px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u222_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:102px;
}
#u222_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:84px;
  width:20px;
  height:21px;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:41px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 144, 152, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:1141px;
  width:169px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:165px;
  word-wrap:break-word;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:1097px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u224_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u224_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:29px;
  width:532px;
  height:8px;
}
#u224_seg2 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:29px;
  width:8px;
  height:15px;
}
#u224_seg3 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:30px;
  width:20px;
  height:21px;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:201px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:1188px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u225_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:26px;
}
#u225_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:18px;
  width:451px;
  height:8px;
}
#u225_seg2 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:18px;
  width:8px;
  height:21px;
}
#u225_seg3 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:25px;
  width:20px;
  height:21px;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:169px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 144, 152, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:693px;
  width:169px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:165px;
  word-wrap:break-word;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:575px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u227_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:122px;
}
#u227_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:104px;
  width:20px;
  height:21px;
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:51px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:552px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u228_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:428px;
  height:8px;
}
#u228_seg1 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:-4px;
  width:8px;
  height:178px;
}
#u228_seg2 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:160px;
  width:20px;
  height:21px;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:249px;
  top:-12px;
  width:100px;
  word-wrap:break-word;
}
