body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:858px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:768px;
  background:inherit;
  background-color:rgba(246, 246, 246, 0.509803921568627);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 144, 152, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:375px;
  height:768px;
}
#u253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:42px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:3px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:56px;
  width:16px;
  height:3px;
  -webkit-transform:rotate(217deg);
  -moz-transform:rotate(217deg);
  -ms-transform:rotate(217deg);
  transform:rotate(217deg);
}
#u256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:3px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:48px;
  width:16px;
  height:3px;
  -webkit-transform:rotate(322deg);
  -moz-transform:rotate(322deg);
  -ms-transform:rotate(322deg);
  transform:rotate(322deg);
}
#u257_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:74px;
  width:375px;
  height:1px;
}
#u258_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:30px;
  width:373px;
  height:165px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  word-wrap:break-word;
}
#u260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:30px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u260_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:36px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u261_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:73px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:85px;
  width:352px;
  height:73px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u262_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:348px;
  word-wrap:break-word;
}
#u263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:73px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:168px;
  width:352px;
  height:73px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u263_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:348px;
  word-wrap:break-word;
}
#u264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:120px;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:251px;
  width:352px;
  height:120px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u264_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:51px;
  width:348px;
  word-wrap:break-word;
}
#u265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:299px;
  width:61px;
  height:61px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#666666;
}
#u265_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  word-wrap:break-word;
}
#u266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:89px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:381px;
  width:352px;
  height:89px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u266_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:348px;
  word-wrap:break-word;
}
#u267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:154px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:234px;
  width:373px;
  height:154px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u267_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  word-wrap:break-word;
}
#u268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:234px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u268_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:251px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u269_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:410px;
  width:61px;
  height:61px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#666666;
}
#u270_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  word-wrap:break-word;
}
#u271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:503px;
  width:85px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u271_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:2px;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:513px;
  width:46px;
  height:1px;
}
#u272_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:2px;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:513px;
  width:46px;
  height:1px;
}
#u273_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:66px;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:533px;
  width:352px;
  height:66px;
}
#u274_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:66px;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:609px;
  width:352px;
  height:66px;
}
#u275_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:66px;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:685px;
  width:352px;
  height:66px;
}
#u276_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:143px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:532px;
  width:325px;
  height:143px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u277_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  word-wrap:break-word;
}
#u278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:532px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u278_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:532px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u279_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
